.message-row {
    width: 100%;
    display: flex;
    align-items: center;
}

.start {
    justify-content: start;
}

.end {
    justify-content: end;
}

.message-container {
    background: white;
    border: 1px black solid;
    border-radius: 5px;

    width: fit-content;

    margin-top: 10px;
    margin-bottom: 10px;

    
}

.message-container .message-header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;

    transition: background-color .5s;
}

.message-container .message-header:hover {
    background-color: rgb(54, 54, 54);
}

.message-container .message-body {
    padding: 15px;
    line-break: auto;
}