.notification-modal-container {
    width: 800px;
    height: 650px;

    background-color: var(--notification-modal-bg);
    color: var(--notification-modal-fg);

    border-radius: 5px;
    border: var(--notification-modal-border) solid 2px;
}

.notification-modal-container .header {
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-modal-container .header {
    width: 100%;
    height: 60px;


    background-color: var(--notification-modal-header-bg);
    border-bottom: var(--notification-modal-border) solid 2px;
}

.notification-modal-container .header h1 {
    font-size: 24px;
    color: var(--notification-modal-header-fg);
}

.notification-modal-container .body {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20px;

    overflow-y: scroll;
}

.notification-modal-container .close-button {
    width: 32px;
    height: 32px;

    font-size: 18px;
    background-color: var(--notification-modal-close-button-bg);
    color: var(--notification-modal-close-button-fg);
}