.notification-card-container {
    border: var(--dropdown-menu-border) solid 2px;
    border-radius: 5px;

    width: 100%;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    margin-bottom: 10px;

    transition: background-color .3s;
}

.notification-card-container:hover {
    background-color: var(--dropdown-menu-border);
}

.notification-card-container .notification-card-header {
    font-size: 22px;
}

.notification-card-container .notification-card-body {
    font-size: 18px;
}
