@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --background-color: #ffffff;
    --accent-bg: #10a37f;
    --text-color: #2d333a;
    --border-color: #c2c8d0;
    --authenticate-form-background: #ffffff;

    --message-bg: var(--background-color);
    --message-fg: var(--text-color); 

    --chat-bg: #212121;
    --chat-fg: var(--background-color);
}

* {
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;

    background-color: var(--background-color);
}

button, input {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--accent-bg);
}